.Tabs {
  font-size: 16px;
  width: 50%;
}

.TabList {
  list-style-type: none;
  padding: 4px;
  display: flex;
  margin: 0;
}

.Tab {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: 1px solid #ccc;
  padding: 8px;
  user-select: none;
  cursor: pointer;
}
.Tab:focus {
  outline: none;
}
.Tab.is-selected {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: 1px solid #fff;
}

.TabPanel {
  margin-top: -5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-top: 0px;
  display: none;
}
.TabPanel.is-selected {
  display: block;
}